body {
    font-family: "Proxima Nova", sans-serif;
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.2;
    @include responsive(xs-sm) {
        font-size: 18px;
    }
    @include responsive(xs) {
        font-size: 16px;
    }
}

@include headings {
    font-weight: bold;
    line-height: 1.2;
    color: var(--black-color);
}
p {
    @include responsive(mobile) {
        line-height: 1.1;
    }
}
p:last-child {
    margin-bottom: 0 !important;
}
a {
    color: var(--orange-color);
    @include on-event {
        color: var(--accent-color);
    }
}

h1 {
    font-size: 52px;
    @include responsive(xs-sm) {
        font-size: 40px;
    }
    @include responsive(xs) {
        font-size: 30px;
    }
    @include responsive(mobile) {
        font-size: 25px;
    }
}
h2,
.h2 {
    font-size: 34px;
    @include responsive(xs-md) {
        font-size: 30px;
    }
    @include responsive(xs-sm) {
        font-size: 28px;
    }
    @include responsive(xs) {
        font-size: 26px;
    }
    @include responsive(mobile) {
        font-size: 24px;
    }
}
h3,
.h3 {
    font-size: 24px;
    @include responsive(xs-md) {
        font-size: 23px;
    }
    @include responsive(xs-sm) {
        font-size: 22px;
    }
    @include responsive(xs) {
        font-size: 20px;
    }
    @include responsive(mobile) {
        font-size: 19px;
    }
}
h4 {
    font-size: 20px;
    @include responsive(mobile) {
        font-size: 18px;
    }
}
h5 {
    font-size: 18px;
    @include responsive(mobile) {
        font-size: 16px;
    }
}

.font-sm {
    font-size: 1rem;
}
.fs-48 {
    font-size: 48px;
    @include responsive(xs-md) {
        font-size: 40px;
    }
    @include responsive(xs-sm) {
        font-size: 35px;
    }
    @include responsive(xs) {
        font-size: 30px;
    }
    @include responsive(mobile) {
        font-size: 25px;
    }
}

.fs-36 {
    font-size: 36px;
    @include responsive(xs-md) {
        font-size: 32px;
    }
    @include responsive(xs-sm) {
        font-size: 28px;
    }
    @include responsive(xs) {
        font-size: 24px;
    }
    @include responsive(mobile) {
        font-size: 20px;
    }
}
.fs-35 {
    font-size: 35px;
    @include responsive(xs-md) {
        font-size: 31px;
    }
    @include responsive(xs-sm) {
        font-size: 27px;
    }
    @include responsive(xs) {
        font-size: 23px;
    }
    @include responsive(mobile) {
        font-size: 19px;
    }
}
.fs-32 {
    font-size: 32px;
    @include responsive(xs-md) {
        font-size: 29px;
    }
    @include responsive(xs-sm) {
        font-size: 27px;
    }
    @include responsive(xs) {
        font-size: 25px;
    }
    @include responsive(mobile) {
        font-size: 23px;
    }
}
.fs-30 {
    font-size: 30px;
    @include responsive(xs-md) {
        font-size: 28px;
    }
    @include responsive(xs-sm) {
        font-size: 26px;
    }
    @include responsive(xs) {
        font-size: 24px;
    }
    @include responsive(mobile) {
        font-size: 22px;
    }
}
.fs-25 {
    font-size: 25px;
    @include responsive(xs-sm) {
        font-size: 24px;
    }
    @include responsive(xs) {
        font-size: 22px;
    }
    @include responsive(mobile) {
        font-size: 20px;
    }
}
.fs-24 {
    font-size: 24px;
    @include responsive(xs-sm) {
        font-size: 23px;
    }
    @include responsive(xs) {
        font-size: 21px;
    }
    @include responsive(mobile) {
        font-size: 19px;
    }
}
.fs-23 {
    font-size: 23px;
    @include responsive(xs-sm) {
        font-size: 22px;
    }
    @include responsive(xs) {
        font-size: 20px;
    }
    @include responsive(mobile) {
        font-size: 18px;
    }
}
.fs-20 {
    font-size: 20px;

    @include responsive(mobile) {
        font-size: 18px;
    }
}
.fs-18 {
    font-size: 18px;
    @include responsive(mobile) {
        font-size: 16px;
    }
}
.fs-16 {
    font-size: 16px;
}
.fs-14 {
    font-size: 14px;
}
.fs-13 {
    font-size: 13px;
}
.fs-12 {
    font-size: 12px;
}
.fs-7 {
    font-size: 7px;
}
@include responsive(mobile) {
    .fs-14-mobile {
        font-size: 14px;
    }
}

.text-announcement-bar {
    @include responsive(xs) {
        font-size: 15px;
    }
    @include responsive(mobile) {
        font-size: 14px;
    }
 
}
