// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
$base-url: "./assets/" !default;
$image-url: "./assets/images/" !default;
$font-url: "./assets/fonts/" !default;

:root {
    --orange-color: #ff681e;
    --orange-color-2: #ff980e;
    --orange-color-3: #ff5251;
    --green-color: #45c324;
    --yellow-color: #ffc831;
    --teal-color: #009ba5;
    --blue-color: #00bce2;
    --text-color: #202020;
    --dark-color: #505050;
    --gray-color: #cccccc;
    --red-color: #cc0909;
    --lightgray-color: #f5f5f5;
    --lightgray-color-2: #f2f2f2;
    --lightgray-color-3: #f9f9f9;
    --lightgray-color-4: #f6f6f6;
    --bs-border-radius: 5px;
    --bs-border-color: #cdcdcd;
    --header-distance: 0px;
    --header-height: 102px;
}
